/*
    Put your custom SCSS here!
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
:root {
  --bs-body-color: #aaa;
}

main {
  background-color: #000;
}

.h2, h2 {
  color: #ccc;
}

.display-4 {
  color: #000;
}

.py-3 {
  background-color: #333;
}

.my-4 {
    background-color: #333;
    border-radius: 5px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #000;
}

div.spotlight.gallery-img {
  color: #333;
}

#cloud-div-subject-tags {
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

#home-banner-logo {
    height: 100px;
}

#footer-logo {
    height: 100px;
}
